@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/impact.woff2");
}
